* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.header-container {
  padding: 2rem 20rem;
  text-align: center;

}



.header-container {
  background-color: rgb(241, 221, 224);
  padding-bottom: 30px;
  padding-top: 10px;
}

.header-container h3 {
  font-family: arial;
  font-size: 19px;
  padding-bottom: 30px;
  color: rgb(8, 6, 6);
  text-decoration: none;
  
}

.header-container button {
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
  font-size: medium;
  text-decoration: none;
  border: none;
  font-weight: bold;
  background-color: rgb(231, 155, 13);
}





.section1bkgrd {
  background-image: url(../img/smilelady.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 2rem;
  padding-right: 4rem;
  height: 122vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;

}

.menulinks {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 33px;
  padding-bottom: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


.menuitem {
  text-decoration: none;
  color: rgb(83, 28, 28);
  font-weight: 690;

}

#logo {
  padding: 2rem 7rem;
}

#sec1hdtxt h2 {
  padding-top: 5rem;
  width: 350px;
  margin-left: 5.7rem;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(3, 25, 59);
}

#sec1ptxt {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(3, 25, 59);
  margin-left: 90px;
  width: 510px;
  padding-top: 1rem;
  font-size: 29px;
  letter-spacing: 2px;
}

.awardimg {
  margin-left: 120px;
  margin-top: 40px;
  padding-top: 18px;
}

#sec2ptxt {
  font-family: arial;
  margin-left: 300px;
  padding-top: 60px;
}

#sec2hd1txt {
  font-family: arial;
  font-size: 22px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 5px;
}

#medimg {
  margin-left: 300px;
  margin-top: 2px;
  float: left;
}

#medhdtxt {
  margin-top: 20px;
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 18px;
}

#medptxt {
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 17px;
  width: 270px;
  margin-top: 3px;
}

#selfimg {
  margin-left: 300px;
  margin-top: 2px;
  float: left;
}

#selfhdtxt {
  margin-top: 20px;
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 18px;
}

#selfptxt {
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 17px;
  width: 270px;
  margin-top: 5px;
}

#persimg {
  margin-left: 300px;
  margin-top: 2px;
  float: left;
}

#pershdtxt {
  margin-top: 20px;
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 18px;
}

#persptxt {
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 17px;
  width: 270px;
  margin-top: 5px;
}

#commimg {
  margin-left: 300px;
  margin-top: 2px;
  float: left;
}


#commhdtxt {
  margin-top: 20px;
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 18px;
}

#commptxt {
  margin-left: 390px;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 17px;
  width: 270px;
  margin-top: 5px;
  padding-bottom: 7rem;
}

.apploopvid {
  float: right;
  margin-right: 250px;
  height: 570px;
  align-self: center;
  object-fit: contain;
  overflow: visible;
  padding-top: 60px;
}

#sec3hdtxt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: calibri;
  color: white;
  font-size: 23px;
  width: 720px;
  margin-left: 370px;
  letter-spacing: 5px;
  padding-top: 3rem;
  text-rendering: optimizeLegibility;
}


.background {
  color: brown;
  background-color: rgb(44, 109, 109);
}

#arrowimg {
  margin-left: 60rem;
  align-self: flex-end;
}

.playerbox {
  display: flex;
  justify-content: center;
  gap: 15px;
  height: auto;
  margin-top: 10px;
  padding-right: 35px;
  padding-bottom: 3rem;
  width: 1500px;
  height: 400px;
}

/* .playerbox img{
    padding: 1px 12px;
    padding-top: 10px;
  } */

#box1 {
  width: 350px;
  height: 350px;
  background: rgb(233, 231, 231);
  background-image: url('../img/track-purple.196d4fba.jpg');
  background-repeat: no-repeat;
  color: black;
  margin-left: 1px;
  border-radius: 6px;
  box-shadow: 0px, 2px, 4px rgba(0, 0, 0.3);
  padding-right: 2rem;
  padding-top: 4rem;
}

#box1 a {
  padding: 8rem;
}

#box1p {
  line-height: 30px;
  padding-top: 5rem;
  margin-left: 15px;
}


#box1hd {
  line-height: 50px;
  margin-left: 15px;
}

#box2 {
  width: 350px;
  height: 350px;
  background: rgb(233, 231, 231);
  background-image: url('../img/download\ v.jfif');
  background-repeat: no-repeat;
  color: black;
  margin-left: 1px;
  border-radius: 6px;
  box-shadow: 0px, 2px, 4px rgba(0, 0, 0.3);
  padding-right: 2rem;
  padding-top: 4rem;

}

#box2 a {
  padding: 8rem;
}

#box2p {
  line-height: 30px;
  margin-left: 15px;
  padding-top: 5rem;
}

#box2hd {
  line-height: 50px;
  margin-left: 15px;
}

#box3 {
  width: 350px;
  height: 350px;
  background: rgb(233, 231, 231);
  background-image: url('../img/box3.jfif');
  background-repeat: no-repeat;
  color: black;
  margin-left: 1px;
  border-radius: 6px;
  box-shadow: 0px, 2px, 4px rgba(0, 0, 0.3);
  padding-right: 2rem;
  padding-top: 4rem;

}

#box3 a {
  padding: 8rem;
}

#box3p {
  line-height: 30px;
  margin-left: 15px;
  padding-top: 5rem;
}

#box3hd {
  line-height: 50px;
  margin-left: 15px;
}

#box4 {
  width: 350px;
  height: 350px;
  background: rgb(233, 231, 231);
  background-image: url('../img/box4.jfif');
  background-repeat: no-repeat;
  color: black;
  margin-left: 1px;
  border-radius: 6px;
  box-shadow: 0px, 2px, 4px rgba(0, 0, 0.3);
  padding-right: 2rem;
  padding-top: 4rem;

}

#box4 a {
  padding: 8rem;
}

#box4p {
  line-height: 30px;
  margin-left: 15px;
  padding-top: 5rem;
}

#box4hd {
  line-height: 50px;
  margin-left: 15px;
}

#backgroundimg {
  /* height: 100%;
  width: 20%; */

}

.background-img {
  background-image: url("../img/relaxing-expert-section-bg-image.0e1790a9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.sec5backcolor {
  background-image: url('../img/relaxing-expert-section-bg-image.0e1790a9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: pink; */
  background-size: cover;
  padding-bottom: 20rem;
  height: 120vh;
}

.sec5backcolor {
  padding-top: 2rem;
}

.sec5backcolor h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: calibri;
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin-left: 60px;
}

.teacher-container {
  background-color: rgb(236, 128, 213);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  border-radius: 40px;
}

.teachersub-container {
  padding-top: -3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 16px;

}

#Joy {
  padding: 4rem;
  padding-top: 50px;
}

#Joy h1 {
  margin-left: 5px;
}

#Joy p {
  margin-left: 20px;
}

#Jamila {
  padding: 4rem;
  text-align: center;
}

#Jor {
  padding: 4rem;
  text-align: center;
}

#Eli {
  padding: 4rem;
  text-align: center;
}

#Jen {
  padding: 4rem;
  text-align: center;
}

#Jezz {
  padding: 4rem;
  text-align: center;
}

.bkgrdsec6 {
  background-color: rgb(44, 109, 109);
  height: auto;
}

.fivestarimg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

.reviewhd {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: calibri;
  color: white;
  font-size: 30px;
  width: 550px;
  margin-left: 370px;
  letter-spacing: 5px;
}

.reviewquote {
  text-align: center;
  font-family: arial;
  color: white;
  font-size: 20px;
  align-items: center;
  /* padding-left: rem; */
  padding-bottom: 5rem;
  letter-spacing: 2px;
  line-height: 30px;
  justify-content: center;
  
}
